::-webkit-input-placeholder {
  /* Edge */
  font-size: 12px;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  font-size: 12px;
}

::placeholder {
  font-size: 12px;
}

input {
  outline-style: none;
  border-style: none;
  width: 100%;
}

.txt-title {
  text-align: end;
}

.imagePreviewWrapper.cover {
  width: 150px;
  height: 150px;
  display: block;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  position: relative;
  border-radius: 100%;
}
.imagePreviewWrapper.video {
  height: 170px;
}
i.fas.fa-play {
  position: absolute;
  border: 4px solid;
  padding: 15px;
  font-size: 40px;
  color: #fff;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid var(--white);
  box-shadow: 0px 4px 6px 1px #bdbdbd;
}
.image-upload {
  width: 30px;
  position: absolute;
  right: -10px;
  top: -10px;
  background: var(--white);
  padding: 7px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 8px 0px rgba(24, 28, 50, 0.25);
}
.image-upload img {
  width: 100%;
}
.image-full-width {
  width: 100%;
  height: 100%;
}
.text-right-reponse {
  text-align: end;
}
.desc {
  resize: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 110px;
}
.desc::-webkit-scrollbar {
  display: none;
}
.input-number {
  width: 100%;
  padding: 3px;
  border-radius: 4px;
  border: 1px solid var(--secondary);
  outline: none;
  outline-width: 0;
  outline-style: none;
  background: var(--white);
}
input.input-date.outline-dark {
  padding: 10px;
}

@media screen and (max-width: 650px) {
  .col-3,
  .col-9 {
    width: 100%;
  }
  .text-right-reponse {
    text-align: start;
  }
}

/*============ style upload multy image ===========*/
.box-list-photo {
  width: 100%;
  padding: 8px;
  display: inline-block;
  line-height: 0;
}
.list-photo {
  width: 20%;
  padding-bottom: 20%;
  float: left;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 4px;
}
.list-photo .photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.photo:hover .overlay-image {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}

.overlay-image {
  background: #21252973;
  position: absolute;
  display: none;
  border-radius: 4px;
}
.image-cancel-right {
  top: 5px;
  right: 5px;
  position: absolute;
  padding: 5px;
  border-radius: 4px;
}
.hover-overlay {
  width: 150px;
}
.hover-overlay-image {
  width: 140px;
  margin-right: 12px;
}
.hover-overlay-image:hover .overlay-image {
  width: 140px;
  height: 140px;
  display: block;
  cursor: pointer;
}
.display-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.cover-empty {
  width: 100%;
  height: 100%;
  position: relative;
  background: #ededed5e;
  border: 2px dashed #ccc;
}
.cover-empty-icon {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
}
.cover-empty i {
  color: rgb(180, 180, 180);
  font-size: 40px;
  margin-bottom: 6px;
}
.txt-danger {
  margin-right: 6px;
}

.block{
  display: block;
}
.block-preview {
  width: 100%;
  padding: 12px;
  background: #f2f2f8;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
}
.p-img {
  height: 50px;
  width: 80px;
  object-fit: contain;
  border-radius: 2px;
}
.file-detail {
  display: block;
  align-self: center;
}
.p-file-name {
  margin-bottom: 0px;
  color: #fdb432;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 300px;
}
.container-wrap {
  width: 75%;
  margin: 0 auto;
}
.title {
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}
.content {
  margin: 10px 0;
  border-top: 1px solid #fdb432;
  border-bottom: 1px solid #fdb432;
  padding: 50px 0;
}
.split {
  display: grid;
  grid-template-columns: 20% auto;
  gap: 40px;
  margin-bottom: 35px;
}
.input-container {
  border: 1px solid #cccccc;
  border-radius: 6px;
  padding: 4px 6px;
}
span.no-file {
  font-size: 12px;
  margin: 0 10px;
  color: #000;
  font-weight: 500;
}
span.image-size {
  font-size: 12px;
  font-weight: 500;
  color: #999999;
}
.media-exist {
  display: flex;
  background: #f8f8f8;
}
.btn-choose {
  cursor: pointer;
  background: #efefef;
  font-size: 12px;
  padding: 3px 10px;
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3px;
  border-radius: 4px;
  border: 1px solid #dedede;
  z-index: 2;
}
.select {
  display: grid;
  gap: 4px;
}

.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
}

.radio-item input[type="radio"] {
  display: none;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 2px;
  margin: 0 5px 0 0;
  width: 13px;
  height: 13px;
  border-radius: 11px;
  border: 1px solid #fdb432;
  background-color: transparent;
}

.radio-item input[type="radio"]:checked + label:after {
  border-radius: 11px;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 9px;
  left: 9px;
  content: " ";
  display: block;
  background: #fdb432;
}