<div class="row">
  <div class="box-card-item zoom-out">
    <div class="card-item background-image">
      <div class="box-card-info">
        <img src="https://img.icons8.com/clouds/100/000000/money-bag.png" class="img-card-cover" />
        <div class="row">
            <p class="card-title">Revenue</p>
            <p class="card-val">$65,650</p>
        </div>
      </div>
      <div class="row">
        <small>65% lower growth</small>
      </div>
    </div>
  </div>

  <div class="box-card-item zoom-out">
    <div class="card-item background-image2">
      <div class="box-card-info">
        <img src="https://img.icons8.com/clouds/100/000000/online-shop-sale.png" class="img-card-cover" />
        <div class="row">
            <p class="card-title">Sales</p>
            <p class="card-val">5693</p>
        </div>
      </div>
      <div class="row">
        <small>Weekly Sales</small>
      </div>
    </div>
  </div>

  <div class="box-card-item zoom-out">
    <div class="card-item background-image3">
      <div class="box-card-info">
        <img src="https://img.icons8.com/clouds/100/000000/in-transit.png" class="img-card-cover" />
        <div class="row">
            <p class="card-title">Orders</p>
            <p class="card-val">3721</p>
        </div>
      </div>
      <div class="row">
        <small>Product-wise sales</small>
      </div>
    </div>
  </div>

  <div class="box-card-item zoom-out">
    <div class="card-item background-image4">
      <div class="box-card-info">
        <img src="https://img.icons8.com/clouds/100/000000/worker-male.png" class="img-card-cover" />
        <div class="row">
            <p class="card-title">Employees</p>
            <p class="card-val">246</p>
        </div>
      </div>
      <div class="row">
        <small>Product-wise sales</small>
      </div>
    </div>
  </div>
</div>