<div class="con-login">
    <div class="box-form">
        <form>
            <div class="imgcontainer">
                <img :src="require('@/assets/images/logo.jpg')" class="avatar">
            </div>

            <div v-if="form.register" class="container">
                <label for="uname">Phone Number</label>
                <vue-tel-input :valid-characters-only="true" :preferred-countries="['Kh', 'TH', 'Us']" @input="onInput"
                    autocomplete="on" maxlength="25" style="margin: 8px 0;" required>
                </vue-tel-input>

                <label for="psw">Password</label>
                <input type="password" placeholder="Enter Password" name="psw" class="input-info outline-success"
                    required>

                <label for="psw">Comfirm Password</label>
                <input type="password" placeholder="Enter Password" name="psw" class="input-info outline-success"
                    required>

                <button type="submit" class="btn btn-info btn-md" @click="goverify">Create Account</button>
            </div>

            <div v-else class="container" >
                <label for="psw">Comfirm Verify Code</label>
                <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="######" name="psw" class="input-info outline-success"
                    required>

                <button type="submit" class="btn btn-info btn-md" @click="routerLink">Verify Code</button>
            </div>  
        </form>
    </div>
</div>