.input {
  border: 1px solid #ccc;
}

.list-selection {
  width: 100%;
  background-color: #f9f9f9;
  height: 120px;
  position: relative;
  border-radius: 4px;
  overflow-y: auto;
  border: 1px solid #cfcfcf;
}

.list-selection-search {
  width: 50%;
  background-color: var(--white);
  height: auto;
  position: absolute;
  border-radius: 4px;
  overflow-y: auto;
  border: 1px solid #cfcfcf;
  z-index: 1;
}

.text-hover:hover {
  width: 100%;
  background: var(--light);
  color: var(--info);
}

/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: lightslategray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #19222e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #19222e;
}

.desc {
  resize: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 110px;
  width: 100%;
}

.desc::-webkit-scrollbar {
  display: none;
}

.modal {
  width: 560px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.modal img {
  width: 70%;
  margin: 0 auto;
  background: transparent;
}