<div>
  <div class="row mt12 animate-bottom">
    <div class="row mb12" style="border: 1px solid #eaeaea;">
      <div class="col-12 p12 mb12" style="background:#eaeaea">
        Option
      </div>
      <div class="row p12">
        <div class="col-3 pr12">
          <div id="app" style="font-size: 14px;">
            <select v-model="model.optionIndex" class="input">
              <option v-for="(option,index) in data.options" :key="(option,index)" :value="index">{{option.text}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-2">
          <button @click="addOption" class="btn btn-light-info btn-md">
            Add Option
          </button>
        </div>
      </div>
    </div>

    <div v-if="model.addVariant.optionSelected.length > 0" class="row" style="border: 1px solid #eaeaea;">
      <div class="col-12 p12" style="background:#eaeaea">
        Product Variant
      </div>
      <div class="row p12">
        <div class="col-4">
          <div v-for="(optionSelected,index) in model.addVariant.optionSelected" :key="(optionSelected, index)"
            class="row">
            <div class="col-4 p6 flex-row">
              <span class="mt6 mb6">{{optionSelected.option.text}} : </span>
            </div>
            <div class="col-6 p6 flex-row">
              <div style="font-size: 14px;">
                <select v-model="optionSelected.optionValueSelectedIndex" class="input">
                  <option v-for="(optionSelectedValue,optionSelectedValueIndex) in optionSelected.optionValues"
                    :key="(optionSelectedValue,optionSelectedValueIndex)" :value="optionSelectedValueIndex">
                    {{optionSelectedValue.text}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-8 border-left pl12">
          <div class="row">
            <div class="col-4 p6 flex-row">
              <span class="txt-danger" style="line-height: 31px;">*</span>
              Name :
            </div>
            <div class="col-7 p6 flex-row">
              <input v-model="model.addVariant.name" type="text" class="input outline-dark" />
            </div>
          </div>

          <div class="row">
            <div class="col-4 p6 flex-row">
              <span class="txt-danger" style="line-height: 31px;">*</span>
              Short Description :
            </div>
            <div class="col-7 p6 flex-row">
              <textarea v-model="model.addVariant.shortDescription" type="text" placeholder="Short description..."
                class="input outline-dark desc"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-4 p6 flex-row">
              Description :
            </div>
            <div class="col-7 p6 flex-row">
              <textarea v-model="model.addVariant.description" type="text" placeholder="Description..."
                class="input outline-dark desc" style="height: 250px;"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-4 p6 flex-row">
              <span class="txt-danger" style="line-height: 31px;">*</span>
              Image :
            </div>
            <div class="col-7 p6 flex-row">
              <div class="media-container" style="position: relative;">
                <div style="width: 100%;border-radius: 4px;border:1px solid #ccc;padding:3px;display: inline-block;">
                  <div v-if="model.addVariant.imageUrl" class="go-left pointer display-flex">
                    <img :src="getFullImage(model.addVariant.imageUrl)" height="35px" class="attachment mr6" />
                    <div class="p-file-name">
                      <span class="font12 p-file-name mr6"
                        style="line-height: 35px;">{{getNameFromUrl(model.addVariant.imageUrl)}}</span>
                    </div>
                  </div>

                  <div v-else class="go-left">
                    <img :src="require('@/assets/icons/Vectorpaperclip.png')" width="8px" class="attachment mh6" />
                    <span class="font12" style="line-height: 35px;">No file selected</span>
                  </div>

                  <label @click="chooseImage" id="image" class="btn btn-secondary btn-sm go-right mt2 mr2">
                    Choose file
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-4 p6 flex-row">
              <span class="txt-danger" style="line-height: 31px;">*</span>
              SKU :
            </div>
            <div class="col-7 p6 flex-row">
              <input v-model="model.addVariant.sku" type="text" class="input outline-dark" />
            </div>
          </div>

          <div class="row">
            <div class="col-4 p6 flex-row">
              <span class="txt-danger" style="line-height: 31px;">*</span>
              Code :
            </div>
            <div class="col-7 p6 flex-row">
              <input v-model="model.addVariant.code" type="text" class="input outline-dark" />
            </div>
          </div>

          <div class="row">
            <div class="col-4 p6 flex-row">
              <span class="txt-danger" style="line-height: 31px;">*</span>
              Price :
            </div>
            <div class="col-7 p6 flex-row">
              <input v-model.number="model.addVariant.price" type="number" class="input outline-dark" />
            </div>
          </div>

          <div class="row">
            <div class="col-4 p6 flex-row">
              <span class="txt-danger" style="line-height: 31px;">*</span>
              Tax :
            </div>
            <div class="col-7 p6 flex-row">
              <input v-model="model.addVariant.tax" type="number" class="input outline-dark" />
            </div>
          </div>

          <div class="row">
            <div class="col-4 p6 flex-row">
              <span class="txt-danger" style="line-height: 31px;">*</span>
              Quantity :
            </div>
            <div class="col-7 p6 flex-row">
              <input v-model="model.addVariant.quantity" type="number" class="input outline-dark" />
            </div>
          </div>

          <div class="row">
            <div class="col-4 p6 flex-row">
              <span class="txt-danger" style="line-height: 31px;">*</span>
              Sort Order :
            </div>
            <div class="col-7 p6 flex-row">
              <input v-model="model.addVariant.sortOrder" type="text" class="input outline-dark" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 p12 flex-row" style="border-top:1px solid #eaeaea">
        <button @click="addVariant" class="btn btn-light-info btn-md go-right">
          Add Variant
        </button>
      </div>
    </div>

    <div v-if="model.variants.length > 0" class="row">
      <table class="table wh800 mt20" cellspacing="0">
        <thead>
          <tr>
            <th v-for="(optionSelected,index) in model.addVariant.optionSelected" :key="(optionSelected,index)"
              class="w100">
              {{optionSelected.option.text}}
            </th>
            <th>Name</th>
            <th>Short Description</th>
            <th>Description</th>
            <th>Image</th>
            <th>SKU</th>
            <th>Code</th>
            <th>Price</th>
            <th>Tax</th>
            <th>Quantity</th>
            <th>Ordering</th>
            <th class="tr-left">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(variant,variantIndex) in model.variants" :key="(variant,variantIndex)" class="hover-list">
            <td v-for="(option,OptionIndex) in variant.options" :key="(option,OptionIndex)">
              <span>{{option.optionValue.text}}</span>
            </td>
            <td>
              <input v-model="variant.name" type="text" placeholder="Name" class="input outline-dark" />
            </td>
            <td>
              <input v-model="variant.shortDescription" type="text" placeholder="Short description"
                class="input outline-dark" />
            </td>
            <td>
              <input v-model="variant.description" type="text" placeholder="Description" class="input outline-dark" />
            </td>
            <td>
              <div style="width: 100%;border-radius: 4px;border:1px solid #ccc;padding:3px;display: inline-block;">
                <div class="go-left pointer display-flex" @click="chooseImage(variantIndex)">
                  <img v-if="variant.imageUrl" :src="getFullImage(variant.imageUrl)" height="35px"
                    class="attachment mr6" />
                  <img v-else :src="require('@/assets/images/noImage.jpg')" alt="No Image" style="height: 40px;" />
                </div>
              </div>
            </td>
            <td>
              <input v-model="variant.sku" type="text" placeholder="" class="input outline-dark" />
            </td>
            <td>
              <input v-model="variant.code" type="text"
                placeholder="code" class="input outline-dark" />
            </td>
            <td>
              <input v-model="variant.price" type="number"
                placeholder="0" class="input outline-dark" />
            </td>
            <td>
              <input v-model="variant.tax" type="number"
                placeholder="0" class="input outline-dark" />
            </td>
            <td>
              <input v-model="variant.quantity" type="number"
                placeholder="0" class="input outline-dark" />
            </td>
            <td>
              <input v-model="variant.sortOrder" type="number"
                placeholder="0" class="input outline-dark" />
            </td>
            <td class="tr-left">
              <button @click="removeVariant(variantIndex)" class="btn btn-light-danger btn-md go-right" title="Remove">
                <b>✘</b>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div>
        <button @click="addOptionsToProduct" class="btn btn-md btn-light-info go-right mt12">
          Submit
        </button>
        <button @click="removeAllProductVariant" class="btn btn-md btn-light-danger go-right mt12 mr12">
          Remove all
        </button>
      </div>
    </div>
  </div>

  <div v-if="display.media.single" class="overlay">
    <div @click="closeModal" class="overlay"></div>
    <div class="modal-md">
      <Media type="single" :method="closeModal" folder="catelog" @existedMedia="existedMediaCallback">
      </Media>
    </div>
  </div>

  <div v-if="dialog.visible" class="overlay">
    <div class="modal-md">
      <div class="modal-header border-bottom">
        <b>Warning</b>
      </div>
      <div class="modal-body p12">
        {{dialog.text}}
      </div>
      <div class="modal-footer border-top">
        <button @click="clearProductVariant" class="btn btn-sm btn-primary go-right">
          Close
        </button>
        <button @click="dialog.visible = false" class="btn btn-sm btn-secondary mr12 go-right">
          Cancel
        </button>
      </div>
    </div>
  </div>

  <div v-if="display.modal.delete.show" class="overlay">
    <div @click="closeModal" class="overlay"></div>
    <div class="modal-md">
      <div class="modal-header border-bottom txt-info">
        <span class="txt-sm">Delete</span>
      </div>
      <div class="modal-body" style="overflow-y: hidden; padding: 16px;">
        <span>Do you want to delete this varaint?</span>
      </div>
      <div class="modal-footer border-top">
        <button v-if="!isDeleting" @click="deleteProductVariant" class="btn btn-light-info btn-xs go-right">
          Yes
        </button>
        <button v-else class="btn btn-light-info btn-xs go-right">
          Loading...
        </button>
        <button @click="closeModal" class="btn btn-light-secondary btn-xs mr12 go-right">
          No
        </button>
      </div>
    </div>
  </div>
</div>