<div class="row p6 radius6 animate-bottom">

  <div class="row bg-white border-top-light-blue">
    <div class="container-wrap">
      <div class="title">
        Proudct Discount
      </div>

      <div class="content">
        <div class="split">
          <div class="txt-title">
            <span class="txt-danger" style="line-height: 31px;">*</span>
            <span class="line-h31">Product :</span>
          </div>
          <multiselect v-model="model.product" placeholder="Search" label="name" track-by="id"
            :options="data.productList" :multiple="false" :taggable="false" style="height: 36px;"></multiselect>
          
        </div>
        <div class="split">
          <div class="txt-title">
            <span class="txt-danger" style="line-height: 31px;">*</span>
            <span class="line-h31">Type :</span>
          </div>

          <div class="select">
            <div class="radio-item">
              <input type="radio" id="product" v-model="body.type" value="product" />
              <label for="product">Product</label>
            </div>
          </div>
        </div>

        <div class="split">
          <div class="txt-title">
            <span class="txt-danger" style="line-height: 31px;">*</span>
            <span class="line-h31">Customer Group :</span>
          </div>

          <select v-model.number="body.customerGroupId" class="input-container">
            <option v-for="(customerGroup, index) in data.customerGroups" :key="index" :value="customerGroup.id">
              {{customerGroup.name}}
            </option>
          </select>
        </div>

        <div class="split">
          <div class="txt-title">
            <span class="txt-danger" style="line-height: 31px;">*</span>
            <span class="line-h31">Mininum Quantity :</span>
          </div>

          <div class="input-container">
            <input v-model.number="body.minQuantity" type="number" placeholder="input quantity..." />
          </div>
        </div>

        <div class="split">
          <div class="txt-title">
            <span class="txt-danger" style="line-height: 31px;">*</span>
            <span class="line-h31">Price :</span>
          </div>

          <div class="input-container">
            <input v-model.number="body.price" type="number" placeholder="input price..." />
          </div>
        </div>

        <div class="split">
          <div class="txt-title">
            <span class="txt-danger" style="line-height: 31px;">*</span>
            <span class="line-h31">Priority :</span>
          </div>

          <div class="input-container">
            <input v-model.number="body.priority" type="number" placeholder="input priority..." />
          </div>
        </div>

        <div class="split">
          <div class="txt-title">
            <span class="txt-danger" style="line-height: 31px;">*</span>
            <span class="line-h31">Start Date :</span>
          </div>

          <date-picker style="width: 100%;" v-model="body.startDate" type="datetime" placeholder="Select start date and time"
            :show-time-panel="showTimePanel" @close="handleOpenChange">
            <template v-slot:footer>
              <button class="mx-btn mx-btn-text" @click="toggleTimePanel">
                {{ showTimePanel ? 'select date' : 'select time' }}
              </button>
            </template>
          </date-picker>
        </div>

        <div class="split">
          <div class="txt-title">
            <span class="txt-danger" style="line-height: 31px;">*</span>
            <span class="line-h31">End Date :</span>
          </div>

          <date-picker style="width: 100%;" v-model="body.endDate" type="datetime" placeholder="Select end date and time"
            :show-time-panel="showTimePanel" @close="handleOpenChange">
            <template v-slot:footer>
              <button class="mx-btn mx-btn-text" @click="toggleTimePanel">
                {{ showTimePanel ? 'select date' : 'select time' }}
              </button>
            </template>
          </date-picker>
        </div>

        <div class="split" style="margin-bottom: 0;">
          <div class="txt-title">
            <span class="txt-danger" style="line-height: 31px;">*</span>
            <span class="line-h31">Status :</span>
          </div>

          <div class="select">
            <div class="radio-item">
              <input type="radio" id="active" v-model="body.status" value="active" />
              <label for="active">Active</label>
            </div>

            <div class="radio-item">
              <input type="radio" id="inactive" v-model="body.status" value="inactive" />
              <label for="inactive">Inactive</label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 p6 mb12" style="display: flex;justify-content: flex-end;">
        <button @click="goBack" class="btn btn-light-secondary mr8">
          Cancel
        </button>
        <button v-if="!isCreating" @click="submitCreateDiscount" class="btn btn-light-info">
          Create
        </button>
        <button v-else class="btn btn-light-info">Loading...</button>
      </div>
    </div>
  </div>
</div>