<div class="row p6 radius6 animate-bottom">
  <div class="row bg-white border-top-light-blue">
    <div class="container-wrap">
      <div class="title">
        Update Tutorial Video
      </div>

      <div class="content">

        <div class="split mt35">
          <div class="txt-title">
            <span class="txt-danger" style="line-height: 31px;">*</span>
            <span class="line-h31">Playlist :</span>
          </div>

          <select v-model="body.playlistId" class="input input-xs mr6 filter-type">
            <option v-for="(playlist,index) in data.playlist" :key="(playlist,index)" :value="playlist.id">
              {{playlist.name}}</option>
          </select>
        </div>

        <div class="split">
          <div class="txt-title">
            <span class="txt-danger" style="line-height: 31px;">*</span>
            <span class="line-h31">Name :</span>
          </div>

          <div class="input-container">
            <input v-model="body.name" type="text" placeholder="Input name..." />
          </div>
        </div>

        <div class="split">
          <div class="txt-title">
            <span class="txt-danger" style="line-height: 31px;">*</span>
            <span class="line-h31">Description :</span>
          </div>

          <div class="input-container">
            <input v-model="body.description" type="text" placeholder="Input description..." />
          </div>
        </div>

        <div class="split">
          <div class="txt-title">
            <span class="txt-danger" style="line-height: 31px;">*</span>
            <span class="line-h31">Image URL :</span>
          </div>

          <div class="input-container">
            <input v-model="body.imageUrl" type="text" placeholder="Input image URL..." />
          </div>
        </div>

        <div class="split">
          <div class="txt-title">
            <span class="txt-danger" style="line-height: 31px;">*</span>
            <span class="line-h31">Video URL :</span>
          </div>

          <div class="input-container">
            <input v-model="body.videoUrl" type="text" placeholder="Input video URL..." />
          </div>
        </div>

        <div class="split">
          <div class="txt-title">
            <span class="txt-danger" style="line-height: 31px;">*</span>
            <span class="line-h31">Duration :</span>
          </div>

          <div class="input-container" style="padding: 0px;">
            <vue-timepicker v-model="model.duration" @change="checkFormatTime" close-on-complete hide-clear-button
              format="HH:mm:ss"></vue-timepicker>
          </div>
        </div>


        <div class="split">
          <div class="txt-title">
            <span class="txt-danger" style="line-height: 31px;">*</span>
            <span class="line-h31">SortOrder :</span>
          </div>

          <div class="input-container">
            <input v-model="body.sortOrder" type="number" placeholder="Input sort order..." />
          </div>
        </div>

      </div>

      <div class="col-12 p6 mb12" style="display: flex;justify-content: flex-end;">
        <button @click="goBack" class="btn btn-light-secondary mr8">
          Cancel
        </button>
        <button v-if="!isUpdating" @click="submitUpdateTutorialVideo" class="btn btn-light-info">
          Update
        </button>
        <button v-else class="btn btn-light-info">Loading...</button>
      </div>
    </div>
  </div>
</div>