.txt-lg{
    font-size: 24px;
}
.txt-md{
    font-size: 20px;
}
.txt-sm{
    font-size: 16px;
}
.txt-xs{
    font-size: 12px;
}
.text-14{
    font-size: 14px;
}
.text-13{
    font-size: 13px;
}
.font-weight-200{
    font-weight: 300;
}
.font-weight-300{
    font-weight: 300;
}
.font-weight-400{
    font-weight: 400;
}
.font-weight-500{
    font-weight: 500;
}
.font-weight-600{
    font-weight: 600;
}
.txt-center{
    text-align: center;
}
.txt-left{
    text-align: left;
}
.txt-right{
    text-align: right;
}
.txt-align-end{
    text-align: end;
}
.text-decription{
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.text-tilte{
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
}
.text-capitalize{
    text-transform: capitalize;
}
.margin-bottom-0{
    margin-bottom: 0px;
}
