<div class="col-6 col-md-12 col-sm-12 col-xs-12 p12">

    <div class="row border">
        
        <div class="row p12">
            <div class="row ">
                <div class="row bg-secondary">
                    <p class="p12 mb0">Goal Completion</p>
                </div> 
                <div class="row p12">
                    <VmProgress 
                    percentage="70" 
                    stroke-width="10" >
                    </VmProgress>
                    <p class="txt-13">Add Products to Cart</p>

                    <VmProgress 
                    percentage="50" 
                    stroke-width="10"
                    stroke-color="red">
                    </VmProgress>
                    <p class="txt-13">Complete Purchase</p>

                    <VmProgress 
                    percentage="65" 
                    stroke-width="10"
                    stroke-color="#13ce66">
                    </VmProgress>
                    <p class="txt-13">Visit Premium Page</p>

                    <VmProgress 
                    percentage="80" 
                    stroke-width="10"
                    stroke-color="orange">
                    </VmProgress>
                    <p class="txt-13">Send Inquiries</p>

                    <VmProgress 
                    percentage="85" 
                    stroke-width="10"
                    stroke-color="blue">
                    </VmProgress>
                    <p class="txt-13" style="margin-bottom: 0px;">User Register</p>
                </div>
            </div>
        </div>

    </div>
</div>