/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-input-placeholder {
  /* Edge */
  font-size: 12px;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  font-size: 12px;
}

::placeholder {
  font-size: 12px;
}

input {
  outline-style: none;
  border-style: none;
  width: 100%;
}

.btn {
  z-index: 2;
}

.txt-title {
  text-align: end;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.txt-danger {
  margin-right: 6px;
}

.container-wrap {
  width: 75%;
  margin: 0 auto;
}

.title {
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

.content {
  margin: 10px 0;
  border-top: 1px solid #fdb432;
  border-bottom: 1px solid #fdb432;
  padding: 50px 0;
}

.split {
  display: grid;
  grid-template-columns: 25% auto;
  gap: 40px;
  margin-bottom: 35px;
}

.media-exist {
  display: flex;
  background: #f8f8f8;
}

.input-container {
  border: 1px solid #cccccc;
  background: white;
  border-radius: 6px;
  padding: 4px 6px;
  position: relative;
  height: 34px;
}
