<div class="row p6 radius6 animate-bottom">
  <div class="row bg-white border-top-light-blue">
    <div class="container-wrap">
      <div class="title">
        Type
      </div>

      <div class="content">
        <div class="split">
          <div class="txt-title">
            <span class="line-h31">Image :</span>
          </div>

          <div class="media-container" style="position: relative;">
            <div style="width: 100%;border-radius: 4px;border:1px solid #ccc;padding:3px;display: inline-block;">

              <div v-if="body.imageUrl" @click="imagePreview(body.imageUrl)" class="go-left pointer"
                style="display: flex;">
                <img :src="getFullImage(body.imageUrl)" height="35px" width="35px" style="object-fit: cover"
                  class="attachment mr6" />
                <div class="p-file-name">
                  <span class="font12 p-file-name mr6"
                    style="line-height: 35px;">{{getNameFromUrl(body.imageUrl)}}</span>
                </div>
              </div>
              <div v-else class="go-left">
                <img :src="require('@/assets/icons/Vectorpaperclip.png')" width="8px" class="attachment mh6" />
                <span class="font12" style="line-height: 35px;">No file selected( 500 x 750px )</span>
              </div>
              <label @click="chooseImage" id="image" class="btn btn-secondary btn-sm go-right mt2 mr2">
                Choose file
              </label>
            </div>
          </div>
        </div>

        <div class="split">
          <div class="txt-title">
            <span class="txt-danger" style="line-height: 31px;">*</span>
            <span class="line-h31">Name :</span>
          </div>

          <div>
            <div class="input-container">
              <input v-model="body.name" type="text" placeholder="Input name..." />
            </div>
          </div>
        </div>

        <div class="split">
          <div class="txt-title">
            <span class="line-h31">Category:</span>
          </div>

          <select v-if="data.categories && data.categories.length > 0" v-model="body.parentId" class="input-container"
            style="height: 34px;">
            <option value="" style="color: #999;">Category</option>
            <option v-for="(category, index) in data.categories" :key="index" :value="category.id">
              {{category.name}}</option>
          </select>
          <select v-else class="input-container" style="height: 34px;">
            <option value="NONE">NONE</option>
          </select>
        </div>

        <div class="split">
          <div class="txt-title">
            <span class="txt-danger" style="line-height: 31px;">*</span>
            <span class="line-h31">Type:</span>
          </div>

          <select v-model="body.type" class="input-container" style="height: 34px;">
            <option value="service">Service</option>
            <option value="academy">Academy</option>
            <option value="training">Training</option>
          </select>
        </div>

        <div class="split">
          <div class="txt-title">
            <span class="txt-danger" style="line-height: 31px;">*</span>
            <span class="line-h31">Short description :</span>
          </div>

          <div>
            <div class="input-container">
              <input v-model="body.shortDescription" type="text" placeholder="Input short description..." />
            </div>
          </div>
        </div>
        <div class="split">
          <div class="txt-title">
            <span class="txt-danger" style="line-height: 31px;">*</span>
            <span class="line-h31">Desciption :</span>
          </div>

          <vue-editor id="editor" :editor-toolbar="customToolbar" v-model="body.description" style="height: 250px;">
          </vue-editor>
        </div>

        <div class="split">
          <div class="txt-title">
            <span class="txt-danger" style="line-height: 31px;">*</span>
            <span class="line-h31">Price ($) :</span>
          </div>

          <div class="input-container">
            <input v-model="body.price" type="number" placeholder="Input price..." />
          </div>
        </div>

        <div class="split">
          <div class="txt-title">
            <span class="txt-danger" style="line-height: 31px;">*</span>
            <span class="line-h31">Sort Order :</span>
          </div>

          <div class="input-container">
            <input v-model="body.sortOrder" type="number" placeholder="Input number..." />
          </div>
        </div>

        <div class="split" style="margin-bottom: 0;">
          <div class="txt-title">
            <span class="txt-danger" style="line-height: 31px;">*</span>
            <span class="line-h31">Status :</span>
          </div>

          <div class="select">
            <div class="radio-item">
              <input type="radio" id="active" v-model="body.status" value="active" />
              <label for="active">Active</label>
            </div>

            <div class="radio-item">
              <input type="radio" id="inactive" v-model="body.status" value="inactive" />
              <label for="inactive">Inactive</label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 p6 mb12" style="display: flex;justify-content: flex-end;">
        <button @click="goBack" class="btn btn-light-secondary mr8">
          Cancel
        </button>
        <button v-if="!isCreating" @click="submitCreateTicketType" class="btn btn-light-info">
          Create
        </button>
        <button v-else class="btn btn-light-info">Loading...</button>
      </div>
    </div>
  </div>

  <div v-if="display.imagePreview" class="overlay">
    <div @click="closeModal" class="overlay"></div>
    <div class="modal">
      <img :src="getFullImage(display.url)" class="attachment mr6" />
    </div>
  </div>

  <div v-if="display.media" class="overlay">
    <div @click="closeModal" class="overlay"></div>
    <div class="modal-md">
      <Media type="single" :method="closeModal" folder="ticketType" @existedMedia="existedMediaCallback"></Media>
      </Media>
    </div>
  </div>
</div>