<div>
  <div class="row">
    <div class="row bg-white p12">
        <p class="txt-md ph12 mb0">Card Image</p>
        <div class="row">
            <div>
                <h1>Chart Demo</h1>

                <div class="grid">
                  <ChartBar />
                  <ChartDoughnut />
                  <ChartLine />
                </div>
                
              </div>
        </div>
    </div>

    <!-- <div class="row bg-white p12 mt24">
        <p class="txt-md ph12 mb0">Card Image</p>
        <div class="row p12">
            <div class="row border">
                <div class="row bg-secondary">
                    <p class="p12 mb0">Header Card</p>
                </div>
                <div class="row p12">
                    <p class="txt-md">OutLine Style</p>
                    <p>Text , HTML , entities , convertor , encoding , characters , escaping, decoding, unescape, htmlspecialchars, htmlentities decode</p>
                    <div class="row">
                        <button class="btn btn-light-primary">Read more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row bg-white p12 mt24">
        <p class="txt-md ph12 mb0">Horizontal</p>
        <div class="row">
            <div class="col-6 col-md-12 col-sm-12 col-xs-12 p12">
                <div class="row border">
                    <div class="col-4">
                        <img src="https://media-cdn.tripadvisor.com/media/photo-s/11/31/3b/1a/raul-verticalrio.jpg"
                        style="width: 100%;height:100%;object-fit:cover"/>
                    </div>
                    <div class="col-8 p12">
                        <p>Outline Style</p>
                        <p class="txt-xs">Text , HTML , entities , convertor , encoding , characters , escaping, decoding, </p>
                        <p class="txt-xs txt-dark-light">25 minutes</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-12 col-sm-12 col-xs-12 p12">
                <div class="row border">
                    <div class="col-4">
                        <img src="https://media-cdn.tripadvisor.com/media/photo-s/11/31/3b/1a/raul-verticalrio.jpg"
                        style="width: 100%;height:100%;object-fit:cover"/>
                    </div>
                    <div class="col-8 p12">
                        <p>Outline Style</p>
                        <p class="txt-xs">Text , HTML , entities , convertor , encoding , characters , escaping, decoding, </p>
                        <p class="txt-xs txt-dark-light">25 minutes</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

</div>
</div>