.row.bg-white.border-top-light-blue {
  padding: 24px;
  min-height: 750px;
}

@media screen and (max-width: 650px) {

  .col-3,
  .col-9 {
    width: 100%;
  }

  .text-right-reponse {
    text-align: start;
  }
}

.container-wrap {
  margin-top: 18px;
}

.modal {
  width: 560px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.modal img {
  width: 70%;
  margin: 0 auto;
  background: transparent;
}

::-webkit-input-placeholder {
  /* Edge */
  font-size: 12px;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  font-size: 12px;
}

::placeholder {
  font-size: 12px;
}

input {
  outline-style: none;
  border-style: none;
  width: 100%;
}

.txt-title {
  text-align: end;
}

.back {
  position: absolute;
  top: 24px;
  left: 20px;
  width: 30px;
  height: 30px;
}

.list-group {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;

}

.list-group li {
  background: white;
  border-top: 1px solid #ddd;
  padding: .7em;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.list-group li>i {
  margin-right: 8px;
  font-size: 12px;
  color: #666666;
}

.list-group li:first-child>i {
  font-size: 14px;
  background: none;
  color: var(--primary);
  margin-right: 5px;
}

.list-group li:first-child {
  border-top: 0;
  background: #efefef;
  color: #666666;
  font-size: 14px;

}

hr {
  height: 1px;
  background-color: #fdb432;
  border: none;
  margin: 10px 0;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
  color: #000;

}

.tr td {
  /* color: var(--primary) !important; */
  font-weight: 600;
}

.tr-color td {
  color: var(--primary) !important;
}

.table tr td {
  font-size: 14px;
}

.profile img {
  width: 35px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 35px;
  margin-right: 12px;
}