a{
  text-decoration: none;
  line-height: 18px;
}

header.navbar.r-navbar.mobile {
  display: none;
}

.con-search-btn.mobile {
  display: none;
}

button.btn.btn-theme-grey-light.btn-xs {
  margin: 0 5px;
}

.filter-type {
  width: 175px;
  padding: 5px;
}

.btn-create {
  background-color: var(--dark);
  color: #fff;
  margin-right: 7px;
  width: 170px;
  font-weight: 600;
  height: 32px;
  border-radius: 4px;
}

@media screen and (min-width: 1024px) {
  .modal-lg.detial {
    width: 1000px;
  }
}

@media screen and (max-width: 1024px) {
  .modal-lg.detial {
    width: 90%;
  }
}

@media screen and (max-width: 920px) {
  .search-box {
    width: 250px;
  }
}

@media screen and (max-width: 768px) {
  header.navbar.r-navbar.mobile {
    display: flex;
    margin-top: 12px;
    justify-content: flex-end;
  }

  .filter.mobile,
  .search-box.mobile {
    display: flex;
  }

  .btn-create {
    width: 300px;
  }

  .filter-date {
    display: flex;
    align-items: center;
  }

  .desc {
    max-width: 300px;
  }
}

@media screen and (max-width: 600px) {
  header.navbar.r-navbar.mobile {
    display: block;
  }

  .con-search-btn {
    display: none;
  }

  .con-search-btn.mobile {
    display: flex;
  }

  .btn-create {
    width: 100%;
  }

  .search-box.mobile {
    width: 100%;
    margin: 0 6px;
  }

  .filter.mobile {
    margin-top: 12px;
    margin: 12px 6px 0;
    justify-content: space-between;
  }

  .filter-date {
    width: 50%;
  }

  input#startDate,
  input#endDate {
    width: 100%;
  }

  input#endDate {
    margin-right: 0;
  }

  .modal-md {
    width: 85%;
  }

  .total {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .filter.mobile {
    display: block;
  }

  .filter-date {
    width: 100%;
  }

  .filter-date.start {
    margin-bottom: 12px;
  }

  .filter-date span {
    width: 33px;
  }

  input#startDate {
    margin-right: 0;
  }

  .desc {
    max-width: 150px;
  }
}
.input-container {
  border: 1px solid #cccccc;
  border-radius: 6px;
  padding: 4px 6px;
}